@import "theme.scss";

/* Social icons */
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid  var(--main-social-link-color);
    margin-right: 16px;
    padding-top: 2px;
    font-size: 0 !important;
}
.social-icon > i {
    position: relative;
    font-size: 35px !important;
    color: var(--main-social-link-color);
}
.social-icon:hover,.social-icon:active  {
    background:  var(--main-social-link-color);
}
.social-icon:hover > i,.social-icon:active > i  {
    color: var(--main-social-link-mouserover-color);
}

#section-interests p {
    margin-left: 24px;
}

code {
    background-color: $post-content-code-bg-color !important; /* !important to override the style attribute put by pygment */
    //border: 1px solid black;
    border-radius: 3px;
    font-size: 0.85rem;
    padding: 1px 3px;
}