{{ define "main" }}
    <section id="section-posts" class="container">
        <h2>All the posts</h2>
        
        {{ $pages := where .Site.RegularPages "Section" "posts" }}
        {{ $pages = where $pages "RelPermalink" "!=" "/" }}
        {{ $paginator := .Paginate $pages .Site.Params.pagination.articleCount }}

        <div class="post-list">
            {{ if eq $paginator.PageNumber 1 }}
                {{ range first 1 $paginator.Pages }}
                    {{- partial "content/posts/list-item-large" . -}}
                {{ end }}
                {{ range after 1 $paginator.Pages }}
                    {{- partial "content/posts/list-item" . -}}
                {{ end }}
            {{ else }}
                {{ range $paginator.Pages }}
                    {{- partial "content/posts/list-item" . -}}
                {{ end }}
            {{ end }}
        </div>
        
        {{ partial "content/pagination.html" $paginator }}

    </section>
{{ end }}

{{ define "head" }}
    {{ partial "tools/scss/include.html" "sass/blog.scss" }}
{{ end }}