@import "../theme.scss";

.page-selector {
    margin: 32px 0;
    text-align: center;


    .page-selector-control {
        margin: 0;
    }

    .page-selector-controls {
        display: inline-block;
        margin: 0 12px;
    }

    a, span {
        color: $text-color;
        height: 24px;
        width: 24px;
        display: inline-flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    span:hover, a:hover {
        border: 1px solid;
    }

    .page-selector-current {
        background: $link-color;
        color: #fff;
    }

    .page-selector-disabled {
        color: $text-color-muted;
    }
    .page-selector-disabled:hover {
        border: none !important;
    }
}