
.content-featured-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    max-width: 100%;

    img {
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: none !important;
        max-height: none !important;
        position: absolute;
        object-fit: cover;
    }
}