(s_caching) {
	header /sass/* {
		Cache-Control "public, max-age=3600"
    }
	header /fonts/* {
		Cache-Control "public, max-age=86400"
    }
	header /img/* {
		Cache-Control "public, max-age=2628000"
    }
	header /*/images/* {
		Cache-Control "public, max-age=2628000"
    }
}
	
(s_log) {
	log {
		output file log_{args.0}.log {
			roll_size 100MiB
			roll_keep 10
			roll_keep_for 2160h 
		}
		format json
		level DEBUG
	}
	
}

(s_fs) {
	file_server {
		hide 404.html
	}
}

(s_errors) {
	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
        handle @404 {
			root /* public/
            rewrite * /404.html
            file_server
        }
	}
}

http://blog.thestaticturtle.fr.home.tugler.fr {
	encode gzip zstd
	
	# Handle the root folder
	root * public
	
	# Make sure that we redirect the portfolio page to the proper subdomain
	redir /portfolio/ https://thestaticturtle.fr.home.tugler.fr permanent
	redir /portfolio/technologies/ https://thestaticturtle.fr.home.tugler.fr/technologies/ permanent
	redir /fr/portfolio/ https://thestaticturtle.fr.home.tugler.fr/fr/ permanent
	redir /fr/portfolio/technologies/ https://thestaticturtle.fr.home.tugler.fr/fr/technologies/ permanent
	
	import s_caching
	import s_log blog_access
	import s_fs
	import s_errors
}

http://thestaticturtle.fr.home.tugler.fr {
	encode gzip zstd

	# Replace the root: "/" should give files in "public/portfolio/"
	root * public/portfolio/
	
	# Multi-langual support, handles /fr*
	handle /fr* {
		#Remove the /fr part because it's not at the same place in the folder structure
		uri /fr* strip_prefix /fr
		
		# Replace the root: "/fr" should give files in "public/fr/portfolio/" (after the uri manipulation)
		root * public/fr/portfolio/
	}
	
	# Handle common files with the blog
	root /sass/* public/
	root /fonts/* public/
	root /img/* public/
	root /images/* public/
	
	root /404.html public/
	root /robots.txt public/
	
	import s_caching
	import s_log portfolio_access
	import s_fs
	import s_errors
}