@import "../theme.scss";

.markdown {
    .header-link {
        margin: 0 !important;
        margin-left: 4px !important;
        border: none !important;
        font-size: 0;
    
        i {
            opacity: 0;
            margin: 0;
            transition: ease-in 75ms;
        }
    }

    *:hover > .header-link {
        display: inline;
        color: $link-color !important;
        background-color: transparent !important;
    
        i {
            opacity: 1;
        }
    }
    
    h1 {
        font-size: 2.45em;
        font-weight: normal;
        .header-link > i { 
            font-size: 36px;
        }
    }
    h2 {
        font-size: 2.05em;
        .header-link > i { 
            font-size: 32px;
        }
    }
    h3 {
        font-size: 1.75em;
        .header-link > i { 
            font-size: 28px;
        }
    }
    h4 {
        font-size: 1.4em;
        .header-link > i { 
            font-size: 24px;
        }
    }
    h5 {
        /* No resize for h5 */
        .header-link > i { 
            font-size: 16px;
        }
    }
    h6 {
        /* No resize for h6 */
        .header-link > i { 
            font-size: 12px;
        }
    }
}