@import "../theme.scss";

.markdown {
    blockquote {
        background-color: $post-content-blockquote-bg-color;
        border-left: $post-content-blockquote-border-color solid 4px;
        margin: 0 0 16px;
    
        p {
            padding: 15px;
            margin-left: 0;
        }
    }
}