@import "../theme.scss";

.markdown table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom:  16px;

    td, th {
        border: 1px solid $post-content-table-border-color;
        padding: 4px 8px 4px 8px;
    }

    th {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        background-color: $post-content-table-header-bg-color;
    }

    tr {
        
        &:nth-child(even){
            background-color: $post-content-table-tr-even-bg-color;
        }

        &:nth-child(odd){
            background-color: $post-content-table-tr-odd-bg-color;
        }

        &:hover {
            background-color: $post-content-table-tr-hover-bg-color;
        }
    }

}