{{ define "main" }}
    <section id="section-intro" class="container">
        {{ partial "content/authors/list-item.html" . }} 
    </section>
    <section id="section-posts" class="container">
        {{ $paginator := .Paginate .Pages .Site.Params.pagination.articleCount }}

        <h2>{{ len .Pages }} Posts - Page {{ $paginator.PageNumber }}:</h2>

        <div class="post-list">
            {{ range $paginator.Pages }}
                {{- partial "content/posts/list-item" . -}}
            {{ end }}
        </div>
        
        {{ partial "content/pagination.html" $paginator }}
    </section>
{{ end }}

{{ define "head" }}
    {{ partial "tools/scss/include.html" "sass/blog.scss" }}
{{ end }}