<div class="post-item post-item-big">
    {{ if .Params.image }}
    <div class="post-item-image-container">
        <a href="{{ .RelPermalink }}"><img src="{{ .Params.image }}" alt="{{ .Params.name }}"/></a>
    </div>
    {{ end }}
    <div class="post-item-details-container">
        <p class="post-item-title">
            <a href="{{ .RelPermalink }}">{{ .Params.name }}</a>
        </p>
        <p class="post-item-description">{{ .Content }}</p>

        <div class="post-item-infos">
            <div>  <i class="mdi mdi-numeric" aria-hidden="true"></i> </div>
            <div> {{ len .Data.Pages }} posts</div>
        </div>
    </div>
</div>