<header id="section-header" class="container-fluid">
    <div id="header-title" class="container-fluid align-center">
        <h1>
            <img class="header-title-image" height="65" width="65" src="/turtle/img/logo_white.jpg" loading="lazy" alt="Logo">
            <b>TheStaticTurtle</b>
        </h1>
    </div>
    <div id="header-navigation" class="container align-center" style="display: flex">
        <div class="row">
            <a class="col header-link" href="https://thestaticturtle.fr">
                Home
            </a>
            <a class="col header-link" href="https://blog.thestaticturtle.fr">
                Blog
            </a>
        </div>
    </div>
</header>

<hr>