<header id="section-header" class="container-fluid">
    <div id="header-title" class="container-fluid align-center">
        <h1>
            <img class="header-title-image" height="65" width="65" src="{{ ((resources.Get `img/logo_white.png`).Fit `65x65`).RelPermalink }}" loading="lazy" alt="Logo">
            <b>{{ .Site.Title }}</b>
        </h1>
    </div>
    <div id="header-navigation" class="container align-center" style="display: flex">
        <div class="row">
            <a class="col header-link" href="https://thestaticturtle.fr">
                Home
            </a>
            <a class="col header-link" href="{{ .Site.BaseURL }}">
                Blog
            </a>
        </div>
    </div>
</header>

<hr>