
<div class="page-selector">
    <div class="page-selector-controls">
        {{ if .HasPrev }}
            {{ with .First }}
                <a href="{{ .URL }}" aria-label="First" role="button">«</a>
            {{ end }}
        {{ else }}
            <span class="page-selector-disabled">«</span>
        {{ end }}

        {{ with .Prev }}
            <a href="{{ .URL }}" aria-label="Previous" role="button">‹</a>
        {{ else }}
            <span class="page-selector-disabled">‹</span>
        {{ end }}
    </div>


    {{ with .Prev }}
        {{ with .Prev }}
            {{ with .Prev }}
                <a href="{{ .URL }}" aria-label="Page {{.PageNumber}}" role="button">{{.PageNumber}}</a>
            {{ end }}
            <a href="{{ .URL }}" aria-label="Page {{.PageNumber}}" role="button">{{.PageNumber}}</a>
        {{ end }}
        <a href="{{ .URL }}" aria-label="Page {{.PageNumber}}" role="button">{{.PageNumber}}</a>
    {{ end }}
            
    <span class="page-selector-current">{{.PageNumber}}</span>

    {{ with .Next }}
        <a href="{{ .URL }}" aria-label="Page {{.PageNumber}}" role="button">{{.PageNumber}}</a>
        {{ with .Next }}
            <a href="{{ .URL }}" aria-label="Page {{.PageNumber}}" role="button">{{.PageNumber}}</a>
            {{ with .Next }}
                <a href="{{ .URL }}" aria-label="Page {{.PageNumber}}" role="button">{{.PageNumber}}</a>
            {{ end }}
        {{ end }}
    {{ end }}


    <div class="page-selector-controls">
        {{ with .Next }}
            <a href="{{ .URL }}" aria-label="Next" role="button">›</a>
        {{ else }}
            <span class="page-selector-disabled">›</span>
        {{ end }}
        
        {{ if .HasNext }}
            {{ with .Last }}
                <a href="{{ .URL }}" aria-label="Last" role="button">»</a>
            {{ end }}
        {{ else }}
            <span class="page-selector-disabled">»</span>
        {{ end }}
    </div>
</div>