<div class="post-item post-item-big">
    <div class="post-item-image-container">
        <a href="{{ .RelPermalink }}">
        {{ with .Resources.GetMatch .Params.image }}
            <img src='{{ (.Fit "450x300 webp q75").RelPermalink }}' alt="{{ $.Title }}"/>
        {{ else }}
            <img src='{{ ((resources.Get "img/default_post_cover.png").Fit "450x300 webp q75").RelPermalink  }}' alt="{{ .Title }}"/>
        {{ end }}
        </a>
    </div>
    <div class="post-item-details-container">
        <p class="post-item-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ if .Params.featured }}
                <span class="post-item-featured">★ Featured</span>
            {{ end }}
        </p>
        <p class="post-item-description">{{ .Summary  }}</p>


        <div class="post-item-infos">
            <div><i class="mdi mdi-account" aria-hidden="true"></i></div>
            <div>
                {{ range .Params.authors }}
                    {{ with $.Site.GetPage (printf "/%s/%s" "authors" .) }}
                        <a href="{{ .RelPermalink }}">{{ .Params.name }}</a>
                    {{ end }}
                {{ end }}
            </div>
            <div><i class="mdi mdi-clock" aria-hidden="true"></i></div>
            <div>{{ .Date | time.Format ":date_long" }}</div>
        </div>

        {{ with (.Param "tags") }}
            <div class="post-item-infos">
                <div>
                    <i class="mdi mdi-tag" aria-hidden="true"></i>
                </div>
                <div class="tag-container">
                    {{ range . }}
                        {{ with $.Site.GetPage (printf "/%s/%s" "tags" .) }}
                            <a class="tag" href="{{ .RelPermalink }}">{{ .Title | humanize }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{ end }}

    </div>
</div>