{{ $umlContent := println "skinparam backgroundColor #00000000" }}
{{ $umlContent := print "@startuml\n" $umlContent .Inner "\n@enduml"}}

{{ $umlChars := split $umlContent "" }}
{{ $hexUmlChars := apply $umlChars "printf" "%02x" "." }}
{{ $hexUml := delimit $hexUmlChars "" }}

{{ $plantumlUrl := print (index $.Page.Site.Params "plantuml" "server" | default "https://www.plantuml.com/plantuml/svg/" ) (print "~h" $hexUml)  }}

{{ $imageFilename := print ($umlContent | md5) ".svg" }}
{{ $imgPath := path.Join $.Page.RelPermalink "diagrams/" $imageFilename }}

<blockquote class="embed embed-diagram">
    <div class="embed-content">
        {{ with resources.GetRemote $plantumlUrl  }}
            {{ with .Err }}
                {{ errorf "[plant_uml] Couldn't download %s: %s" $plantumlUrl . }}
                <b>Failed to get the UML diagram, here is the original plantuml code:</b>
                <pre>
                    {{- $umlContent }}
                </pre>
            {{ else }}
                {{ $img := . | resources.Copy $imgPath  }}
                <img src="{{ $img.RelPermalink | safeURL }}" alt="UML Diagarm" />
            {{ end }}
        {{ end }}
    </div>
</blockquote>