<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href='{{ (resources.Get "img/favicon.ico").RelPermalink }}'>
        <meta name="copyright" content="Copyright TheStaticTurtle (Samuel) - 2022">
        <meta name="theme-color" content="#263238">


        {{ with partial "tools/opengraph/site_title.html" . }}
            <title>{{ . }}</title>
        {{ end }}

        {{ partial "tools/opengraph/meta.html" . }}

        <!-- <link rel="manifest" href="{ url_for('static', path='/manifest.json') }}"> -->

        <link href="/fonts/bebas-neue-v8-latin-ext_latin-regular.css" rel="stylesheet">
        <link href="/fonts/materialdesignicons.min.css" rel="stylesheet">
        
        {{ partial "tools/scss/include.html" "sass/common.scss" }}

        {{ with .OutputFormats.Get "rss" -}}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}" title="{{ $.Site.Title }}" />
        {{ end -}}
            
        {{ with (index .Site.Params "umami") }}
            <script async defer data-website-id="{{ index . "id" }}" src="{{ index . "url" }}"></script>
        {{ end }}
    
        {{- block "head" . }}{{- end }}
    </head>
    <body>
        {{- partial "content/header.html" . -}}

        {{- block "main" . }}{{- end }}

        {{- partial "content/footer.html" . -}}
    </body>
</html>
