:root {
    --main-bg-color: #263238;
    --main-accent-color: #11ce66;

    --text-color-important: #ffffff;
    --text-color: #e5e5e5;

    --main-social-link-color: var(--main-accent-color);
    --main-social-link-mouserover-color: #ffffff;

    --link-color: var(--main-accent-color);
    --link-color-mouserover-color: #12964a;


    --footer-bg-color: #222c31;
    --footer-color: #4c626e;

    /* Blog related variables */
    --tag-bg-color: #384750;
    --tag-color: #e5e5e5;
    --tag-hover-bg-color: #54636b;
    --tag-hover-color: #e5e5e5;
    --tag-font-size: 0.75em;

    --post-list-item-global-spacing: 8px;
    --post-list-item-spacing-bottom: 16px;
    --post-list-item-radius: 4px;
    --post-list-item-bg-color: #2d3841;
    --post-list-description-color: #9aa4af;
    --post-list-icon-color: #c1c9d2;
    --post-list-featured-color: #f3e11c;
    --post-list-description-font-size: 0.85em;
    --post-list-infos-font-size: 0.9em;
    --post-list-image-description-spacing: 8px;
    --post-list-top-spacing: 8px;
    --post-list-image-lg-align: center;
    --post-list-image-sm-md-align: center;
    --post-list-image-lg-width: 100%;
    --post-list-image-lg-height: 200px;
    --post-list-image-sm-md-width: 200px;
    --post-list-image-sm-md-height: 115px;

    --post-content-code-header-bg-color: #20211c;
    --post-content-code-bg-color: #272822;
    --post-content-code-icon-color: #c1c9d2;

    --post-content-blockquote-bg-color: #272822;
    --post-content-blockquote-border-color: var(--main-accent-color);

    --post-content-table-header-bg-color: #555f6e;
    --post-content-table-border-color: var(--post-content-table-header-bg-color);
    --post-content-table-tr-odd-bg-color: transparent;
    --post-content-table-tr-even-bg-color: transparent;
    --post-content-table-tr-hover-bg-color: #2f3c42;

    --post-content-dl-dt-color: var(--main-accent-color);

    --post-content-kbd-bg-color: #272822;

    --post-content-tasklist-checked-color: var(--main-accent-color);
    --post-content-tasklist-unchecked-color: #a8a8a8;
    --post-content-tasklist-icon-unchecked: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12zm16.28-2.72a.75.75 0 0 0-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l6.5-6.5z"/></svg>');
    --post-content-tasklist-icon-checked: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12zm16.28-2.72a.75.75 0 0 0-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l6.5-6.5z"/></svg>')
}