{{ $link := index . "link" }}
{{ $siteNameUrlized := urlize  (index . "tags" "og:site_name") }}
{{ $embedTitle := index . "tags" "og:title" | default (index . "tags" "og:Title")  | default (index . "tags" "twitter:title")  | default (index . "tags" "twitter:titleog:title") }}
{{ $embedDescription := index . "tags" "og:description" | default (index . "tags" "og:Description")  | default (index . "tags" "twitter:description")  | default (index . "tags" "twitter:descriptionog:description") }}

{{ $embedImage := index . "tags" "og:image" }}
{{ $embedImageAlt := index . "tags" "og:image:alt" }}

{{ if eq $siteNameUrlized "" }}
    {{ $siteNameUrlized = strings.ReplaceRE `[^a-zA-Z0-9]` "_" (urls.Parse $link).Host }}
{{ end }}

<blockquote class="embed embed-{{ $siteNameUrlized }}">
    {{ if $embedImage }}
        {{ with partial "tools/image.html" (dict "ctx" . "src" $embedImage "warn" false) }}
            <a href="{{ $link }}" class="embed-image-container">
                {{ print "<div class='embed-image-background' style='background-image: url(" . ");'></div>" | safeHTML }}

                <div class="embed-image-image">
                    <img src='{{ . }}' alt='{{ $embedImageAlt }}'>
                </div>
            </a>
        {{ end }}
    {{ end }}
    <div class="embed-content">
        {{ with $embedTitle }}
            <a class="embed-title" href="{{ $link }}">{{ . }}</a>
        {{ else }}
            <a href="{{ $link }}">{{ $link }}</a>
        {{ end }}
        {{ with $embedDescription }}
            <p>{{ replace . "\n" "<br>" | safeHTML }}</p>
        {{ end }}
    </div>
</blockquote>