{{/* warnf "[opengraph_embeds] Getting tags for: %s" $ */}}

{{ $tags := dict }}
{{ $error := false }}

{{ $params := (index site.Params "ssr") }}

{{ $opts := dict
    "method" "get"
    "headers" (dict
        "User-Agent" (index $params "user_agent")
    )
}}
{{ with resources.GetRemote . $opts }}
    {{ with .Err }}
        {{ $error = . }}
        {{ warnf "[partials/tools/opengraph_ssr/extract_tags.html] Failed to get opengraph tag for %s (%s)" $ . }}
    {{ else }}
        {{ $processedContent := replace .Content "\n" "NEWLINETAG%%$" }}

        {{ range findRESubmatch  `<meta[^>]*?content="([^>]*?)"[^>]*?(?:property|name)="([^>]+?)"[^>]*?\/?>` $processedContent }}
            {{ $property := index . 2 }}
            {{ $content := index . 1 }}
            
            {{ $content = replace $content "NEWLINETAG%%$" "\n" }}

            {{ if or (hasPrefix $property "og:") (hasPrefix $property "twitter:") }}
                {{ $tags = merge $tags (dict $property $content) }}
            {{ end }}
        {{ end }}

        {{ range findRESubmatch  `<meta[^>]*?(?:property|name)="([^>]+?)"[^>]*?content="([^>]*?)"[^>]*?\/?>` $processedContent }}
            {{ $property := index . 1 }}
            {{ $content := index . 2 }}
            
            {{ $content = replace $content "NEWLINETAG%%$" "\n" }}

            {{ if or (hasPrefix $property "og:") (hasPrefix $property "twitter:") }}
                {{ $tags = merge $tags (dict $property $content) }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ return (dict
    "link" .
    "tags" $tags
    "error" $error
    "valid" (and (eq $error false) (gt (len $tags) 0))
)}}