<div class="post-item post-item-big">

    <div class="post-item post-item-big">
        <div class="post-item-image-container">
            {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}"/>
            {{ end }}
        </div>
        <div class="post-item-details-container">
            <h2>{{ .Params.name  }}</h2>
            <p class="post-item-description">{{ .Summary  }}</p>
            
            {{ with .Params.social }}
                {{ if .website }}
                    <div class="post-item-infos">
                        <div><i class="mdi mdi-web" aria-hidden="true"></i></div>
                        <div><a href="{{ .website }}" target="_blank">{{ .website }}</a></div>
                    </div>
                {{ end }}
                {{ if .twitter }}
                    <div class="post-item-infos">
                        <div><i class="mdi mdi-twitter" aria-hidden="true"></i></div>
                        <div><a href="https://twitter.com/{{ .youtube }}">@{{ .youtube }}</a></div>
                    </div>
                {{ end }}
                {{ if .youtube }}
                    <div class="post-item-infos">
                        <div><i class="mdi mdi-youtube" aria-hidden="true"></i></div>
                        <div><a href="https://youtube.com/@{{ .youtube }}">@{{ .youtube }}</a></div>
                    </div>
                {{ end }}
                {{ if .github }}
                    <div class="post-item-infos">
                        <div><i class="mdi mdi-github" aria-hidden="true"></i></div>
                        <div><a href="https://github.com/{{ .github }}">@{{ .github }}</a></div>
                    </div>
                {{ end }}
                {{ range .emails }}
                    <div class="post-item-infos">
                        <div><i class="mdi mdi-email" aria-hidden="true"></i></div>
                        <div><a href="mailto:{{ .address }}">{{ .address }}</a></div>
                        {{ with .gpg }}
                            <div><i class="mdi mdi-shield-key" aria-hidden="true"></i></div>
                            <div><a href="{{ .link }}">{{ .id }}</a></div>
                        {{ end }}
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>

</div>