@import "../theme.scss";

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .25rem;
	font-weight: 500;
	line-height: 1.2;

    font-family: 'Bebas Neue', cursive;
    color: $text-color-important;
}

h1 {
    font-size: 2.45em;
    font-weight: normal;
}
h2 {
    font-size: 2.05em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.4em;
}

.h1-subtitle p {
    margin: 0;
    font-size: 0.90rem;
}