{{ define "main" }}

    <section id="section-content" class="container markdown">
        <h1>{{ .Title }}</h1>
        <span class="h1-subtitle">{{ .Summary | emojify }}</span>
        <br>
        {{ with .Resources.GetMatch .Params.image }}
            <div class="content-featured-image">
                <img class="" src='{{ (.Fit "1350x900 webp q80").RelPermalink }}' alt="{{ $.Title }}"/>
            </div>
        {{ end }}

        <hr>
        {{ substr .Content (len .Summary) | emojify }}
    </section>
    
    {{ with .Params.thanks }}
        {{ partial "content/thanks.html" $ }}
    {{ end }}

    {{/* {{ partial "toc.html" . }} */}}
    
    {{ partial "content/comments.html" }}
{{ end }}

{{ define "head" }}
    {{ partial "tools/scss/include.html" "sass/blog.scss" }}
    {{ partial "tools/scss/include.html" "sass/markdown.scss" }}
{{ end }}