{{ $source := index . "source" }}
{{ $url := index . "url" }}

{{ $img := false }}

{{ $data := (dict 
    "source" $source
    "options" (slice)
)
}}
{{ $request := (dict 
    "method" "post"
    "body" (jsonify $data)
    "headers" (dict 
        "Content-Type" "application/json"
    )
)
}}

{{ with resources.GetRemote $url $request }}
    {{ with .Err }}
        {{ errorf "[partials/tools/plantuml.html#http] Couldn't get diagram: %s" . }}
    {{ else }}
        {{ $img = . }}
    {{ end }}
{{ else }}
    {{ errorf "[partials/tools/plantuml.html#http] Couldn't get diagram" }}
{{ end }}


{{ return $img }}