<header id="section-header" class="container-fluid">
    <div id="header-title" class="container-fluid align-center">
        <h1>
            <img class="header-title-image" height="65" width="65" src="{{ ((resources.Get `img/logo_white.png`).Fit `65x65`).RelPermalink }}" loading="lazy" alt="Logo">
            <b>{{ .Site.Title }}</b>
        </h1>
    </div>
    <div id="header-navigation" class="container align-center" style="display: flex">
        <div class="row">
            {{ range (index .Site.Params "header" "links") }}
                <a class="col header-link" href="{{ index . `url` }}">{{ index . `name` }}</a>
            {{ end }}
        </div>
    </div>
</header>

<hr>