{{ $images := slice }}
{{ range split .Inner "\n" }}
    {{ if hasPrefix . "http" }}
        {{ $images = $images | append (replace . "\r" "") }}
    {{ end }}
    {{ if hasPrefix . "images" }}
        {{ $images = $images | append (replace . "\r" "") }}
    {{ end }}
{{ end }}

{{ $imageIndex := 0 }}

<div class="img-gallery-container">
    {{ range $images }}
        {{ $newRow :=  or (eq $imageIndex 0) (modBool $imageIndex 3) }}
        {{ $endRow :=  or (eq $imageIndex (sub (len  $images) 1)) (eq (mod $imageIndex 3) 2) }}

        {{ if $newRow  }}<div class="img-gallery-row">{{ end }}
            
            {{ $caption := "" }}
            {{ $src := . }}
            
            {{ if (hasSuffix . "\"") }}
                {{ $tmp := split . " \"" }}
                {{ if eq 2 (len $tmp) }}
                    {{ $src = index $tmp 0 }}
                    {{ $caption = strings.TrimSuffix "\"" (index $tmp 1) }}
                {{ end }}
            {{ end }}

            {{ with partial "tools/image.html" (dict "ctx" $ "src" $src) }}
                <div class="img-gallery-image">
                    <figure>
                        <a target="_blank" href="{{ $src }}">
                            <img src="{{ . }}" alt="{{ $caption }}">
                        </a>
                        {{ with $caption }}
                            <figcaption>{{ . }}</figcaption>
                        {{ end }}
                    </figure>
                </div>
            {{ end }}
            
        {{ if $endRow }}</div>{{ end }}

        {{ $imageIndex = add $imageIndex 1}}
    {{ end }}
</div>