{{ $siteNameUrlized := urlize  (index . "tags" "og:site_name") }}
{{ $tweetUrl := index . "link" }}
{{ $tweetId := index (index (findRESubmatch  `^.*\/(\d+)` $tweetUrl) 0 ) 1 }}
{{ $tweetInfoUrl := printf "https://cdn.syndication.twimg.com/tweet-result?id=%s" $tweetId }}

{{ $tweet := dict }}
{{ $error := false }}

{{ with resources.GetRemote $tweetInfoUrl }}
    {{ with .Err }}
        {{ $error = . }}
        {{ warnf "[twitter_syndication] %s %s" $tweetId $tweetInfoUrl }}
    {{ else }}
        {{ $tweet = unmarshal .Content }}
    {{ end }}
{{ end }}

{{ if eq $error false }}
    <blockquote class="embed embed-twitter">
        {{ with (index $tweet "mediaDetails") }}
            {{ if gt (len .) 0 }}
                {{ $mediaUrl := index . 0 "media_url_https" }}
                {{ $mediaExpandedUrl := index . 0 "expanded_url" }}
                {{ $mediaType := index . 0 "type" }}
                
                    {{ $embedImageBg := print "<div class='embed-image-background' style='background-image: url(" $mediaUrl ");'></div>" }}
                    <a href="{{ $tweetUrl }}" target="_blank" class="embed-image-container">
                        {{ $embedImageBg | safeHTML }}
                        <div class="embed-image-image embed-twitter-mediatype-{{ $mediaType }}">
                            {{ if eq $mediaType "video" }}
                                <p>▶</p>
                            {{ end }}
                            <img src='{{ $mediaUrl }}'>
                        </div>
                    </a>
            {{ end }}
        {{ end }}

        <div class="embed-content">
            <a class="embed-title" target="_blank" href="{{ $tweetUrl }}">{{ index $tweet "user" "name" }}</a>
            {{ with (index $tweet "text" ) }}
                <p>{{ replace . "\n" "<br>" | replaceRE `https:\/\/t.co\/[a-zA-Z0-9]+` "" | safeHTML }}</p>
            {{ end }}
            {{ range (index $tweet "entities" "urls") }}
                <a href='{{ index . "expanded_url" }}'>{{ index . "expanded_url" }}</a><br>
            {{ end }}
        </div>
    </blockquote>
{{ else }}
    <blockquote class="embed embed-twitter">
        <div class="embed-content">
            <a href="{{ $ }}">{{ $ }}</a>
        </div>
    </blockquote>
{{ end }}