@import "../theme.scss";

.markdown {
    dl {
        background-color: $post-content-blockquote-bg-color;
        border-left: $post-content-blockquote-border-color double 6px;
        margin: 0 0 16px;
        padding: 8px 15px;
    }

    dt {
        color: $post-content-dl-dt-color;
    }

    dd {
        margin-left: 32px
    }
}