@import "../theme.scss";

.markdown {
    blockquote {
        background-color: $post-content-blockquote-bg-color;
        border-left: $post-content-blockquote-border-color solid 4px;
        margin: 0 0 16px;
    
        p {
            padding: 15px;
            margin-left: 0;
        }
    }

    blockquote[class*="warning"] {
        background-color: $post-content-warning-background;
        border-left: $post-content-warning-border solid 4px;
        border-right: $post-content-warning-border solid 4px;
        margin: 0 0 16px;
        padding: 12px 16px;

        .warning-text {
            font-family: sans-serif;
            padding: 0;
            margin: 0;
            font-size: 0.925rem;
        }

        .warning-content {
            background-color: $post-content-warning-content !important;
            margin: 0;
            margin-top: 8px;
        }
    }
}