@import "../theme.scss";

.markdown {
    .task-list-item {
        list-style-type: none;
        position: relative;
    }
    .task-list-item [type=checkbox] {
        position: absolute;
        top: .45em
    }
    .task-list-control [type=checkbox] {
        opacity: 0;
        z-index: -1
    }
    .task-list-indicator:before {
        background-color: $post-content-tasklist-unchecked-color;
        content: "";
        height: 1.25em;
        -webkit-mask-image: $post-content-tasklist-icon-unchecked;
        mask-image: $post-content-tasklist-icon-unchecked;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        position: absolute;
        top: .15em;
        left: -1.5em;
        width: 1.25em;
    }

    [type=checkbox]:checked+.task-list-indicator:before {
        background-color: $post-content-tasklist-checked-color;
        -webkit-mask-image: $post-content-tasklist-icon-checked;
        mask-image: $post-content-tasklist-icon-checked;
    }
}